Repository mike-seoasis/client-fulfillment-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npx --prefix frontend prettier --write --ignore-unknown
  language: system

tsc:
  name: typescript
  entry: npm run typecheck --prefix frontend
  language: system
  pass_filenames: false

feat: S4-099 - Verify Phase 4 completion
  .ralph-tui/prd.json
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
Due: none

feat: Auto-start keyword generation on page load
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/projects/[id]/onboarding/keywords/page.tsx
Due: eslint, prettier, tsc

fix: Extract page values before async db operations
  backend/app/services/primary_keyword.py
Due: none

fix: Change alternative_keywords schema to accept strings
  backend/app/schemas/keyword_research.py
Due: none

fix: Multiple bug fixes for keyword generation and brand config
  backend/app/integrations/crawl4ai.py
  backend/app/integrations/dataforseo.py
  backend/app/schemas/keyword_research.py
  backend/app/services/primary_keyword.py
  frontend/src/app/projects/[id]/onboarding/keywords/__tests__/page.test.tsx
  frontend/src/components/__tests__/AlternativeKeywordDropdown.test.tsx
  frontend/src/components/onboarding/AlternativeKeywordDropdown.tsx
  frontend/src/components/onboarding/KeywordPageRow.tsx
  frontend/src/components/onboarding/__tests__/KeywordPageRow.test.tsx
  frontend/src/lib/api.ts
Due: eslint, prettier, tsc

fix: Improve keyword generation polling and add unapprove functionality
  backend/app/api/v1/projects.py
  frontend/src/components/onboarding/ApproveButton.tsx
  frontend/src/components/onboarding/KeywordPageRow.tsx
  frontend/src/hooks/useKeywordGeneration.ts
  frontend/src/hooks/useKeywordMutations.ts
  frontend/src/lib/api.ts
Due: eslint, prettier, tsc

docs: Update session log with Phase 4 polish fixes
  V2_REBUILD_PLAN.md
Due: none

chore: Archive Phase 4 and sync specs to main
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/.openspec.yaml
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/design.md
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/proposal.md
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/specs/keyword-approval-ui/spec.md
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/specs/page-keywords/spec.md
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/specs/primary-keyword-generation/spec.md
  openspec/changes/archive/2026-02-06-phase-4-primary-keyword-generation/tasks.md
  openspec/changes/phase-4-primary-keyword-generation/tasks.md
  openspec/specs/keyword-approval-ui/spec.md
  openspec/specs/page-keywords/spec.md
  openspec/specs/primary-keyword-generation/spec.md
Due: none

feat: S5-001 - Create PageContent SQLAlchemy model
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/models/__init__.py
  backend/app/models/crawled_page.py
  backend/app/models/page_content.py
  openspec/changes/phase5-content-generation/.openspec.yaml
  openspec/changes/phase5-content-generation/design.md
  openspec/changes/phase5-content-generation/prd.json
  openspec/changes/phase5-content-generation/proposal.md
  openspec/changes/phase5-content-generation/specs/content-generation-api/spec.md
  openspec/changes/phase5-content-generation/specs/content-generation-ui/spec.md
  openspec/changes/phase5-content-generation/specs/content-quality-checks/spec.md
  openspec/changes/phase5-content-generation/specs/content-writing/spec.md
  openspec/changes/phase5-content-generation/specs/page-keywords/spec.md
  openspec/changes/phase5-content-generation/specs/pop-content-brief/spec.md
  openspec/changes/phase5-content-generation/tasks.md
Due: none

feat: S5-002 - Create PromptLog SQLAlchemy model
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/models/__init__.py
  backend/app/models/page_content.py
  backend/app/models/prompt_log.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-003 - Verify ContentBrief model and add model relationships
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/models/content_brief.py
  backend/app/models/crawled_page.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-004 - Create Alembic migration for content tables
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/alembic/versions/0021_create_page_contents_and_prompt_logs.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-005 - Create POPMockClient with realistic fixture data
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/core/config.py
  backend/app/integrations/pop.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-006 - Create POP content brief service
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/services/__init__.py
  backend/app/services/pop_content_brief.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-007 - Create prompt builder for content writing
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/services/__init__.py
  backend/app/services/content_writing.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-008 - Create content writing service with Claude integration
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/services/__init__.py
  backend/app/services/content_writing.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

docs: Phase 5 content generation planning artifacts and prd.json
  V2_REBUILD_PLAN.md
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-009 - Create AI trope quality checks service
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/services/__init__.py
  backend/app/services/content_quality.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-010 - Create content generation pipeline orchestrator
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/core/config.py
  backend/app/services/__init__.py
  backend/app/services/content_generation.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-011 - Create Pydantic schemas for content generation endpoints
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/schemas/__init__.py
  backend/app/schemas/content_generation.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-012 - Create content generation API endpoints
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/api/v1/__init__.py
  backend/app/api/v1/content_generation.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-014 - Create frontend API client and TanStack Query hooks for content generation
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/hooks/useContentGeneration.ts
  frontend/src/lib/api.ts
  openspec/changes/phase5-content-generation/prd.json
Due: eslint, prettier, tsc

feat: S5-015 - Create ContentGenerationProgress page
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/projects/[id]/onboarding/content/page.tsx
  openspec/changes/phase5-content-generation/prd.json
Due: eslint, prettier, tsc

feat: S5-016 - Create PromptInspector side panel component
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/projects/[id]/onboarding/content/page.tsx
  frontend/src/components/PromptInspector.tsx
  openspec/changes/phase5-content-generation/prd.json
Due: eslint, prettier, tsc

feat: S5-017 - Add content generation step to onboarding navigation
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-013 - Write backend tests for POP brief service and content writing
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/tests/api/test_content_generation.py
  backend/tests/services/test_content_quality.py
  backend/tests/services/test_content_writing.py
  backend/tests/services/test_pop_content_brief.py
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-018 - End-to-end verification in mock mode
  .playwright-mcp/page-2026-02-06T15-40-12-373Z.png
  .playwright-mcp/page-2026-02-06T15-40-31-147Z.png
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-098 - Update V2_REBUILD_PLAN.md
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  V2_REBUILD_PLAN.md
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: S5-099 - Verify Phase 5 completion
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  openspec/changes/phase5-content-generation/prd.json
Due: none

feat: Fix POP API parse functions and use cleanedContentBrief in prompt
  backend/app/services/content_generation.py
  backend/app/services/content_writing.py
  backend/app/services/pop_content_brief.py
  backend/tests/services/test_content_writing.py
  backend/tests/services/test_pop_content_brief.py
Due: none

feat: Integrate copywriting skill bible into content generation pipeline
  backend/app/api/v1/content_generation.py
  backend/app/integrations/pop.py
  backend/app/schemas/content_generation.py
  backend/app/services/content_generation.py
  backend/app/services/content_quality.py
  backend/app/services/content_writing.py
  backend/tests/services/test_content_quality.py
  backend/tests/services/test_content_writing.py
  frontend/src/app/projects/[id]/onboarding/content/page.tsx
  frontend/src/components/PromptInspector.tsx
  frontend/src/hooks/useContentGeneration.ts
  frontend/src/lib/api.ts
  skills/copywriting_skill_bible.md
Due: eslint, prettier, tsc

feat: Add frontend Railway deployment config for v2
  frontend/Dockerfile
  frontend/next.config.mjs
  frontend/railway.json
  frontend/src/app/projects/new/page.tsx
Due: eslint, prettier, tsc

fix: Add alembic migrations and deploy script to backend Dockerfile
  backend/Dockerfile
Due: none

fix: Add retry logic to deploy script DB connection check
  backend/app/deploy.py
Due: none

fix: Use entrypoint.sh script for Docker CMD
  backend/Dockerfile
  backend/entrypoint.sh
Due: none

fix: Remove startCommand from railway.toml to use Dockerfile CMD
  backend/railway.toml
Due: none

fix: Debug Railway startup - explicit builder=DOCKERFILE, verbose entrypoint
  backend/entrypoint.sh
  backend/railway.toml
Due: none

fix: Switch frontend Railway config to .toml format
  frontend/railway.json
  frontend/railway.toml
Due: prettier

fix: Add public dir and ensure it exists in Docker build
  frontend/Dockerfile
  frontend/public/.gitkeep
Due: none

feat: Add content filtering to Crawl4AI integration for main body extraction
  backend/app/integrations/crawl4ai.py
Due: none

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$, but not: ^frontend/node_modules/
  tsc: any of: ^frontend/.*\.(ts|tsx)$
