Repository mike-seoasis/client-fulfillment-v2: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, tsc

eslint:
  name: eslint
  entry: npm run lint --prefix frontend
  language: system
  pass_filenames: false

prettier:
  name: prettier
  entry: npx --prefix frontend prettier --write --ignore-unknown
  language: system

tsc:
  name: typescript
  entry: npm run typecheck --prefix frontend
  language: system
  pass_filenames: false

feat: P0-008 - Migrate to uv package manager
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/client_fulfillment_app.egg-info/PKG-INFO
  backend/client_fulfillment_app.egg-info/SOURCES.txt
  backend/client_fulfillment_app.egg-info/dependency_links.txt
  backend/client_fulfillment_app.egg-info/requires.txt
  backend/client_fulfillment_app.egg-info/top_level.txt
  backend/pyproject.toml
  backend/uv.lock
  openspec/changes/phase-0-foundation-setup/prd.json
Due: none

feat: P0-009 - Create Backend Dockerfile
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/Dockerfile
  openspec/changes/phase-0-foundation-setup/prd.json
Due: none

feat: P0-011 - Configure Next.js frontend dependencies
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/package-lock.json
  frontend/package.json
  frontend/playwright.config.ts
  frontend/src/test/setup.ts
  frontend/vitest.config.ts
  openspec/changes/phase-0-foundation-setup/prd.json
Due: eslint, prettier, tsc

feat: P0-012 - Configure Tailwind with warm color palette
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/tailwind.config.ts
  openspec/changes/phase-0-foundation-setup/prd.json
Due: eslint, prettier, tsc

feat: P0-013 - Create docker-compose.yml for local development
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  docker-compose.yml
  openspec/changes/phase-0-foundation-setup/prd.json
Due: none

feat: P0-014 - Update GitHub Actions CI
  .github/workflows/ci.yml
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  openspec/changes/phase-0-foundation-setup/prd.json
Due: none

feat: P0-015 - Run full verification suite
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/core/data_integrity.py
  backend/app/core/logging.py
  backend/app/core/redis.py
  backend/app/core/websocket.py
  backend/app/deploy.py
  backend/app/integrations/amazon_reviews.py
  backend/app/integrations/claude.py
  backend/app/integrations/crawl4ai.py
  backend/app/integrations/dataforseo.py
  backend/app/integrations/email.py
  backend/app/integrations/google_nlp.py
  backend/app/integrations/keywords_everywhere.py
  backend/app/integrations/pop.py
  backend/app/integrations/webhook.py
  backend/app/schemas/brand_config.py
  backend/app/schemas/brand_config_v3.py
  backend/app/schemas/categorize.py
  backend/app/schemas/competitor.py
  backend/app/schemas/content_quality.py
  backend/app/schemas/content_word_count.py
  backend/app/schemas/content_writer.py
  backend/app/schemas/keyword_research.py
  backend/app/schemas/label.py
  backend/app/schemas/link_validator.py
  backend/app/schemas/paa_analysis.py
  backend/app/schemas/project.py
  backend/app/schemas/schedule.py
  frontend/package.json
  openspec/changes/phase-0-foundation-setup/prd.json
Due: prettier

feat: P0-098 - Update V2_REBUILD_PLAN.md
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  V2_REBUILD_PLAN.md
  openspec/changes/phase-0-foundation-setup/prd.json
Due: none

chore: Add .ralph-tui/iterations/ to gitignore
  .gitignore
Due: none

fix(ci): Fix CI workflow for v2-rebuild branch
  .github/workflows/ci.yml
  frontend/src/test/placeholder.test.ts
Due: eslint, prettier, tsc

fix(ci): Use astral-sh/setup-uv action for proper uv setup
  .github/workflows/ci.yml
Due: none

fix(ci): Use setup-uv python-version input instead of uv python install
  .github/workflows/ci.yml
Due: none

chore: Upgrade to Python 3.12
  .github/workflows/ci.yml
  backend/Dockerfile
  backend/pyproject.toml
  backend/uv.lock
Due: none

debug(ci): Add debug output to see lint errors
  .github/workflows/ci.yml
Due: none

fix(ci): Add explicit uv python install step
  .github/workflows/ci.yml
Due: none

fix(ci): Explicit config paths and update target-version to py312
  .github/workflows/ci.yml
  backend/pyproject.toml
Due: none

debug(ci): Add verbose output for lint failures
  .github/workflows/ci.yml
Due: none

debug(ci): Add more environment debugging
  .github/workflows/ci.yml
Due: none

debug(ci): Show full ruff output before github format
  .github/workflows/ci.yml
Due: none

debug(ci): Capture full ruff output with proper exit handling
  .github/workflows/ci.yml
Due: none

fix(ci): Simplify CI workflow and update ruff version constraint
  .github/workflows/ci.yml
  backend/pyproject.toml
  backend/uv.lock
Due: none

fix(backend): Use dependency-groups instead of optional-dependencies for dev deps
  backend/pyproject.toml
  backend/uv.lock
Due: none

feat: P0-099 - Commit and verify Phase 0 completion
  .ralph-tui/progress.md
  .ralph-tui/session.json
  backend/client_fulfillment_app.egg-info/PKG-INFO
  backend/client_fulfillment_app.egg-info/requires.txt
  openspec/changes/phase-0-foundation-setup/prd.json
Due: none

chore: Archive phase-0-foundation-setup and sync specs
  .ralph-tui/session-meta.json
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/.openspec.yaml
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/design.md
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/prd.json
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/proposal.md
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/specs/circuit-breaker/spec.md
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/specs/docker-dev-env/spec.md
  openspec/changes/archive/2026-02-03-phase-0-foundation-setup/tasks.md
  openspec/changes/phase-0-foundation-setup/tasks.md
  openspec/specs/circuit-breaker/spec.md
  openspec/specs/docker-dev-env/spec.md
Due: none

feat: S1-001 - Add site_url field to Project model
  .ralph-tui/progress.md
  .ralph-tui/ralph.lock
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/models/project.py
  openspec/changes/phase-1-project-foundation/.openspec.yaml
  openspec/changes/phase-1-project-foundation/design.md
  openspec/changes/phase-1-project-foundation/prd.json
  openspec/changes/phase-1-project-foundation/proposal.md
  openspec/changes/phase-1-project-foundation/specs/dashboard/spec.md
  openspec/changes/phase-1-project-foundation/specs/project-detail-view/spec.md
  openspec/changes/phase-1-project-foundation/specs/project-management/spec.md
  openspec/changes/phase-1-project-foundation/tasks.md
Due: none

feat: S1-002 - Create Alembic migration for site_url
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/alembic/versions/0016_add_site_url_to_projects.py
  backend/client_fulfillment_app.egg-info/PKG-INFO
  backend/client_fulfillment_app.egg-info/requires.txt
  backend/pyproject.toml
  backend/uv.lock
  openspec/changes/phase-1-project-foundation/prd.json
Due: none

feat: S1-003 - Create Project Pydantic schemas
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/schemas/project.py
  openspec/changes/phase-1-project-foundation/prd.json
Due: none

feat: S1-004 - Create ProjectService with CRUD operations
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/services/__init__.py
  backend/app/services/project.py
  openspec/changes/phase-1-project-foundation/prd.json
Due: none

feat: S1-005 - Create projects API router
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/api/v1/__init__.py
  backend/app/api/v1/projects.py
  backend/app/main.py
  openspec/changes/phase-1-project-foundation/prd.json
Due: none

feat: S1-007 - Set up TanStack Query in frontend
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/layout.tsx
  frontend/src/components/providers/QueryProvider.tsx
  frontend/src/lib/query-client.ts
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-008 - Create API client and project hooks
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/hooks/use-projects.ts
  frontend/src/lib/api.ts
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-009 - Configure Tailwind with warm color palette
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/design-test/page.tsx
  frontend/src/app/globals.css
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-006 - Write backend tests for Project API
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  backend/app/api/v1/projects.py
  backend/tests/api/__init__.py
  backend/tests/api/test_projects.py
  backend/tests/conftest.py
  openspec/changes/phase-1-project-foundation/prd.json
Due: none

feat: S1-010 - Create base UI components
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/components/ui/Button.tsx
  frontend/src/components/ui/Card.tsx
  frontend/src/components/ui/EmptyState.tsx
  frontend/src/components/ui/Input.tsx
  frontend/src/components/ui/index.ts
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-011 - Create Header component and update layout
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/layout.tsx
  frontend/src/components/Header.tsx
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-012 - Create ProjectCard component
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ProjectCard.tsx
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-013 - Build Dashboard page
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/page.tsx
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-014 - Create ProjectForm component
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/package-lock.json
  frontend/package.json
  frontend/src/components/ProjectForm.tsx
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

feat: S1-015 - Build Create Project page
  .ralph-tui/progress.md
  .ralph-tui/session-meta.json
  .ralph-tui/session.json
  frontend/src/app/projects/new/page.tsx
  openspec/changes/phase-1-project-foundation/prd.json
Due: eslint, prettier, tsc

Path conditions:
  eslint: any of: ^frontend/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^frontend/.*\.(ts|tsx|js|jsx|json|css|md)$, but not: ^frontend/node_modules/
  tsc: any of: ^frontend/.*\.(ts|tsx)$
